__pycache__/__init__.cpython-312.pyc
__pycache__/model.cpython-312.pyc
__pycache__/preprocessing.cpython-312.pyc
tests/__pycache__/test_model.cpython-312-pytest-8.3.3.pyc
tests/__pycache__/test_model.cpython-312-pytest-8.3.3.pyc
tests/__pycache__/test_model.cpython-312-pytest-8.3.3.pyc
__pycache__
.pytest_cache
tests\__pycache__
.pypirc
dist/sparse_pls-0.1.1-py3-none-any.whl
dist/sparse_pls-0.1.1.tar.gz
sparse_pls.egg-info/PKG-INFO
sparse_pls.egg-info/PKG-INFO
